:root {
  --app-font: "Quicksand", "Lato", sans-serif;
  --neutral-color: white;
}

html,
body {
  overflow: hidden;
}

.App {
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
}
